<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordly</title>
</head>
<body>
    <h1>Welcome to Wordly!</h1>
    <h2>Guess the <span id="response-word-length">{{ length }}</span> letter word! </h2>
    <form id="myForm">
        <input type="text" name="user_input" maxlength={{length}} id="user_input" placeholder="Enter something">
        <button type="submit">Submit</button>
    </form>
    <p>these are the right letters from your guessed word:</p>
    <h3 style="color:rgb(25, 156, 115);" id="response-right"></h3>
    <p>these are the wrong letters from your guessed word:</p>
    <h3 style="color:rgb(255, 53, 30);" id="response-wrong"></h3>
    <div id="response-correct" style="display: none;">
        <h2>You guessed right! The right words is: <span id="correct-word"></span> </h2>
        <button id="next-word">Give me next word</button>
    </div>
    <script>
        document.querySelector('#myForm').addEventListener('submit', function(event) {
            event.preventDefault()

            let formData = new FormData(this)

            fetch('/process', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.wrong)
                document.querySelector('#response-right').innerText = data.right
                document.querySelector('#response-wrong').innerText = data.wrong
                if (data.correct) {
                    document.querySelector('#response-correct').style.display = 'block'
                    document.querySelector('#correct-word').innerText = formData.get('user_input')
                }
            })
            .catch(error => console.log('Error: ', error))
        })
    </script>
    
</body>
</html>